<h2 class="article-title">Hello <%= @user.email %>,</h2>

<div class="article-content">
<p>You have received a <%= @notification %> on musterd8.</p>

<p>To check your <%= @notification %>, log in to your <%= link_to 'account', @url %>.</p>
<p>
	Thanks,<br>
	Musterd8 delivery bot
</p>
</div>