<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Our Company description">
	<meta name="author" content="Joseph Rex">
	<title>Musterd8 online dating &dash; Find the love of your life</title>
	<!--[if IE]>
		<link rel="stylesheet" media="screen, projection" href="stylesheets/ie.css">
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="all" href="stylesheets/base.css">
	<link rel="shortcut icon" href="favicon.png">
	<link rel="author" href="http://ostrich-dev.com">
</head>
<body>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. 
	Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> 
	<![endif]-->
	<header>
		<h1 class="title">muster<span>d8</span></h1>
		<button data-button="primary curvy">Member sign in</button>
		<div class="caption">
			<h2>Finding your date in a click</h2>
			<button data-button="curvy transparency">Learn how it works</button>
		</div>
		<form action="">
			<input type="text" name="name" placeholder="My name is?">
			<select name="" id="">
				<option value="" disabled="" selected="">My age is between?</option>
				<option value="1">18 - 25</option>
				<option value="2">26 - 35</option>
				<option value="3">36 - 45</option>
				<option value="4">46 above</option>
			</select>
			<select name="" id="">
				<option value="" disabled="" selected="">I am a?</option>
				<option value="male">Man</option>
				<option value="female">Woman</option>
			</select>
			<input type="submit" data-button="material" value="Find your date">
		</form>
	</header>
	<main>
		<div data-grid="9">
			<h3>It's easy to find your desired partner. Let's guide you</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dignissimos dolor temporibus nostrum dicta omnis facere est ut error esse dolorem eos similique recusandae, porro voluptatum unde ipsum laborum fugit quas saepe eum, impedit! Recusandae quae delectus qui amet facilis voluptate nobis numquam sit maxime? Quia vitae sequi perferendis inventore nostrum unde iusto repellendus animi, quisquam velit! Facere, voluptates debitis dolore nulla enim ducimus. </p>
		</div>
		<div data-grid="3">
			<%= image_tag "african-lovers-r1.jpeg", alt: "African Lovers", 'data-frame' => 'circular' %>
		</div>
	</main>
	<footer>
		copyright &copy; <script>var now = new Date(); document.write(now.getFullYear());</script>
		<a href="./">Musterd8</a>
		<ul class="fr">
			<li><a href="">About</a></li>
			<li><a href="">Privacy Policy</a></li>
			<li><a href="">Terms Of Use</a></li>
		</ul>
	</footer>
	<!-- JS -->
	<script src="js/script.min.js"></script>
</body>
</html>