* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
}
body{
	background-color: #eee;
	margin: 0;
	font-family: $font-stack;
	font-size: 16px;
	font-size: 1.6rem;
}
*:focus{ outline: 3px solid rgba(62, 184, 179, $reg_alpha); }
::selection{ background: #999; color: white; }
[type="submit"],button{
	cursor: pointer;
	font-size: 1.6rem;
	font-family: $font-stack;
	font-size: inherit;
}
input, select{
	font-family: $font-stack;
	font-size: inherit;
}
header{
	position: relative;
	height: 95vh;
	background: linear-gradient(rgba($black, .5), rgba($black, .5)), image-url('aura.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	>[data-button]{
		position: absolute;
		right: 2rem;
		top: 1rem;
		border-bottom: solid thin darken($color-button-default, 9);
	}
	form{
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 10rem;
		background: hsla(0,0,0,.5);
		padding: 3rem;
		text-align: center;
	}
	input,select:not(button){
		display: inline;
		background: $white;
		padding: 0.8rem 1rem;
		margin: 0 -2px;
		vertical-align: top;
		border: solid thin #aaa;
		height: 4rem;
		min-width: 10rem;
		&:active, &:focus{
			outline: none;
		}
	}
	input{
		&:first-of-type{
			border-radius: .3rem 0  0 .3rem;
		}
		&:last-of-type{
			width: 15rem;
			border-radius: 0 .3rem .3rem 0;
		}
	}
	[data-button~="material"]{
		border-bottom: solid thin $color-wine;
		border-left: solid thin #aaa;
	}
	.caption{
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		color: $white;
		h2{
			text-transform: uppercase;
			font-size: 4rem;
		}
		[data-button~="transparency"]{
			color: $white;
		}
	}
}
.title{
	margin: 0 1rem;
	padding: 1rem;
	font-family: 'Quicksand';
	font-size: 3.5rem;
	color: $myblue;
	span{
		color: $color-title-pink;
	}
}
footer{
	background: #222;
	color: #bbb;
	padding: 3rem 10rem;
	a{
		color: #677;
		&:hover{
			color: #9aa;
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li{
		display: inline;
		padding: 0 1rem;
	}
}
main{
	@include container(100%);
	margin: 3rem 0;
	padding: 2rem;
	color: #555;
	font-size: 2rem;
	[data-frame]{
		width: 300px;
		height: 300px;
	}
}
/* Button Styles */
[data-button]{
	border: none;
	padding: 1rem 2rem;
	&:hover{
		background: #ccc;
	}
}
[data-button~="curvy"]{
	border-radius: 0.3rem;
}
[data-button~="transparency"]{
	background: rgba(#ccc, .4);
	&:hover{
		background: rgba(#aaa, .4);
	}
}
[data-button~="primary"]{
	background: $myblue;
	color: $white;
	&:hover{
		background: darken($myblue, 5);
	}
}
[data-button~="material"]{
	background: $color-title-pink;
	color: $white;
	&:hover{
		background: darken($color-title-pink, 5);
	}
}
[data-button~="full"]{
	width: 100%;
}
/* Frame Styles */
[data-frame]{
	border: solid 5px #ccc;
}
[data-frame~="circular"]{
	border-radius: 50%;
}