* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
}
body{
	margin: 0;
	font-family: $font-stack;
	font-size: 16px;
	font-size: 1.6rem;
}
*:focus{ outline: 3px solid rgba(62, 184, 179, $reg_alpha); }
::selection{ background: #999; color: white; }
[type="submit"],button{
	cursor: pointer;
	font-size: 1.6rem;
	font-family: $font-stack;
	font-size: inherit;
}
input, select{
	font-family: $font-stack;
	font-size: inherit;
}

// Grids with AMCSS style
@for $i from 1 through 12 {
    [data-grid="#{$i}"]{
        @include span( 100% * ( $i / 12% ) - 2% );
    }
}
.top{
	position: fixed;
	top: 0;
	width: 100%;
	height: $top-height;
	z-index: 300;
	background: rgba($white, .95);
	box-shadow: 0 0 4px #aaa;
	[data-button]{
		position: absolute;
		right: 2rem;
		top: 1rem;
	}
}
header{
	position: relative;
	height: 650px;
	background: linear-gradient(rgba($black, .5), rgba($black, .5)), image-url('header.jpg') no-repeat;
	background-size: 100%;
	form{
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 10rem;
		background: hsla(0,0,0,.5);
		padding: 3rem;
		text-align: center;
	}
	input,select:not(button){
		display: inline;
		background: $white;
		padding: 0.8rem 1rem;
		margin: 0 -2px;
		vertical-align: top;
		border: solid thin #aaa;
		border-left: none;
		height: 4rem;
		min-width: 10rem;
		&:active, &:focus{
			outline: none;
		}
	}
	input{
		&:first-of-type{
			border-radius: .3rem 0  0 .3rem;
		}
		&:last-of-type{
			width: 15rem;
			border-radius: 0 .3rem .3rem 0;
		}
	}
	[data-button~="material"]{
		border-bottom: solid thin $color-wine;
	}
}
.caption{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: $white;
	h2{
		text-transform: uppercase;
		margin: 10px 0;
		font-size: 6rem;
	}
	span{
		position: relative;
		&:before, &:after{
			content: "";
			height: 5px;
			width: 14rem;
			top: 0;
			margin-top: 10px;
			position: absolute;
			border-top: solid thin $white;
		}
		&:before{
			margin-right: 15px;
			right: 100%;
		}
		&:after{
			margin-left: 15px;
			left: 100%;
		}
	}
	[data-button~="transparency"]{
		color: $white;
	}
}
.title{
	margin: 0 1rem;
	padding: .5rem 5rem;
	font-size: 3.5rem;
	text-shadow: 0 1px 2px #444;
	color: $myblue;
	span{
		color: $color-title-pink;
	}
}
footer{
	position: relative;
	background: #222;
	color: #677;
	padding: 3rem 10rem;
	a{
		color: #bbb;
		&:hover{
			color: #9aa;
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li{
		display: inline;
		padding: 0 1rem;
	}
	svg{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		fill: $color-title-pink;
		width: 32px;
	}
}
section{
	color: #555;
	font-size: 2rem;
}
[data-section~="one"]{
	@include container(100%);
	padding: 4rem;
	svg{
		width: 82px;
		fill: #555;
		display: block;
		margin: 0 auto;
	}
}
[data-section~="two"]{
	@include container(100%);
	background: image-url('sunshine.jpg');
	background-size: 100%;
	padding: 6rem;
	text-align: center;
	h2{
		font-size: 5rem;
		font-weight: 300;
		color: $white;
	}
	ul{
		list-style-type: none;
		padding: 0;
		color: darken($white, 40%);
		svg{
			fill: darken($white, 40%);
			position: relative;
			top: 4px;
			width: 20px;
			margin-right: 10px;
		}
	}
	li{
		width: 80%;
		height: 70px;
		margin: 10px auto;
		padding: 20px;
		background: rgba($white, .8);
	}
}
[data-section~="three"]{
	text-align: center;
	background: #eee;
	padding: 30px;
	h2{
		border-top: solid thick #aaa;
		font-weight: 300;
		padding-top: 20px;
		width: 60%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	svg{
		width: 48px;
		fill: #555;
		&:hover{
			fill: #888;
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
	}
	li{
		display: inline;
		margin: 0 20px;
	}
}
[data-grid~="4"]{
	> div{
		padding: 2rem;
		text-align: center;
		font-weight: 300;
		&:hover{
			border-top: solid medium $myblue;
			box-shadow: 0 0 3px #aaa;
		}
	}
	br{
		height: 1px;
		padding: 0;
		margin: 0;
	}
}
/* Button Styles */
[data-button]{
	border: none;
	padding: 1rem 2rem;
	&:hover{
		background: #ccc;
	}
}
[data-button~="curvy"]{
	border-radius: 0.3rem;
}
[data-button~="transparent"]{
	background: transparent;
	border: solid thin lighten($black, 40%);
	color: lighten($black, 40%);
	&:hover{
		background: transparent;
		color: lighten($black, 70%);
		border: solid thin lighten($black, 70%);
	}
	&:focus, &:active{
		outline: none;
	}
}
[data-button~="transparency"]{
	background: rgba(#ccc, .4);
	&:hover{
		background: rgba(#aaa, .4);
	}
}
[data-button~="primary"]{
	background: $myblue;
	color: $white;
	&:hover{
		background: darken($myblue, 5);
	}
}
[data-button~="material"]{
	background: $color-title-pink;
	color: $white;
	&:hover{
		background: darken($color-title-pink, 5);
	}
}
[data-button~="full"]{
	width: 100%;
}
/* Frame Styles */
[data-frame]{
	border: solid 5px #ccc;
}
[data-frame~="circular"]{
	border-radius: 50%;
}
@include breakpoint($breakpoint-tablet-wide){
	[data-grid~="6"]{
		width: 100%;
		margin: 10px 0;
	}
}